// Mixin that creates all of the button color classes
@mixin gen-button-colors($color-names, $color) {
  @each $name in $color-names {
    $i: index($color-names, $name);
    .button--#{$name} {
      background-color: nth($color, $i);
      border-bottom: $button-box-shadow-top solid darken(nth($color, $i), 12%);

      &:hover,
      &:active {
        background-color: lighten(nth($color, $i), 7%);
      }
    }
  }
}
