// Standard Button Styling
.button {
  padding: $button-padding;
  display: inline-block;
  border: none;
  border-radius: $button-border-radius;
  color: $button-text-color;
  font-size: $button-font-size;
  outline: none;
  text-align: center;

  &:hover,
  &:active {
    color: $button-text-color;
    text-decoration: none;
  }
}

.trash-button {
}
.random-button {
}
.trash-button,
.random-button {
  background-size: 31px 20px;
}

// Modifier: Big Button
.button--big {
  font-size: $button-big-font-size;
  padding: $button-big-padding;
}

.button--red {
  background: $alizarin-crimson;
  color: #fff !important;
  text-transform: uppercase;
  &:after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-left: 3px;
    background-size: contain;
  }
}

// Generates all of the button classes you defined in
// _buttons_color_list.scss
@include gen-button-colors($btn-color-names, $btn-colors);
