// Standard Input Styling
input[type=range] {
  height: 4px;
  background: $input-range-background;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0;
  overflow: visible;
  z-index: 5;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    border: 0 none;
    background: transparent;
  }
  &::-moz-range-track {
    position: relative;
    width: 100%;
    height: 20px;
    border: 0 none;
    background: transparent;
  }

  &::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
    cursor: move;
  }
  &::-moz-range-thumb {
    position: relative;
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
    cursor: move;
  }

  &::-ms-track {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0 none;
    background: transparent;
    line-height: 20px;
    box-shadow: none;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-thumb {
    border: none;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
    cursor: move;
  }

  &:focus {
    outline: none;
  }

  &::-ms-fill-lower {
    background-color: transparent;
  }
  &::-ms-fill-upper {
    background-color: transparent;
  }
  &::-ms-tooltip {
    display: none;
  }
  + .range {
    display: table;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
    span {
      position: relative;
      display: table-cell;
      width: 20%;
      padding-left: 8px;

      &:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 25%;
        width: 2px;
        height: 4px;
        background-color: #fff;
        z-index: 5;
        @media (min-width: $media-min-1200) {
          top: -9px;
        }
      }
      &:first-of-type:before,
      &:last-of-type:before {
        display: none;
      }
      &:first-of-type {
        width: 15%;
        padding-left: 0;
      }
      &:last-of-type {
        width: 15%;
      }
    }
  }
  &.range-yes-no {
    width: 60px;
    + .range {
      width:80px;
    }
  }
}
