// Home variables
$home-keyvisaul-bg-img: '../assets/images/home/home-keyvisual.jpg';
$home-keyvisual-bg-color: #FFF;

// Home Games
$home-euromillions-top-bg: #016FBA;
$home-euromillions-bottom-bg: #16347E;
