/** FORM styles */
.form-container {

  input, select, textarea {
    border:0px;
    border-radius:0px;
    font-size:14px;
    border-bottom:1px solid $grey-form-inputs;
    width:100%;
    background-color: transparent;
    box-shadow:none;
  }

  select {
    height:34px;
    padding: 6px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 10px;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color:$button-background;
    color:$base-white;
    padding:5px 30px;
    border-bottom:3px solid $button-border;
    width:100%;
  }

  .contact-message {

  }

  textarea {
    border:1px solid $grey-form-inputs;
    height:100px;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:$base-black;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:$base-black;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:$base-black;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:$base-black;
  }

  .ui-calendar {
    display:block;

    input {
      padding-left:12px;
      background-color:transparent;
    }
  }
}
.error-warning {
  margin-bottom:10px;
  color:$alizarin-crimson;
}
.success-message {
  margin-bottom:10px;
  color:$success-color;
}

.content-page {
  background-size: 100% auto;
  padding-bottom:50px;

  .container {
    .row {
      h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 1.2;
        color: $luxor-gold;
        margin-bottom: 35px;
      }

      h2 {
        font-weight:bold;
        margin-bottom: 10px;
      }

      label {
        margin-top:10px;
        display:block;
        font-size: 14px;
        padding: 6px 12px;
      }

      .register-agb-container {
        font-size:14px;

        input {
          width:20px;
        }
      }

      .register-button-container {
        text-align: right;
      }
    }
    .content-page-spacer {
      margin-top:30px;
    }
  }
}

