.basket-label {
  position: relative;
  font-size: 14px;

  @media (min-width: $media-min-1200) {
    font-size: 16px;
  }

  .basket-info-label {
    background: #e5e7e7;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: -15px;
    text-align: center;
    border: 2px solid white;
    padding: 5px 10px;

    @media (min-width: $media-min-1200) {
      top: -40px;
      right: -20px;
    }
  }
}
