// Topbar wrapper
.topbar-wrap {
  width: 100%;
  background: $topbar-bg-color;
  position: absolute;
  z-index: 100;

  @media (min-width: $media-min-1200) {
    height: 150px;
    position: fixed;
  }

  // Topbar top border
  .topbar__border {
    width: 100%;
    height: 10px;
    background-color: $topbar-top-border-color;
  }

  // Icons
  .icon {
    &:before {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
    }

  }

  ul {
    li {
      display: inline-block;
    }
  }

  // Topbar pre nav
  .topbar__pre-nav {
    margin: 15px 0;

    @media (min-width: $media-min-1200) {
      margin: 0;
    }

    // Logo
    .topbar__logo {
      height: 50px;
      width: 150px;
      float: left;

      @media (min-width: $media-min-1200) {
        width: 200px;
        height: 70px;
      }
    }

    // Topbar info bar
    // with tel number & login & basket nav
    .topbar__info-bar {
      display: none;

      @media (min-width: $media-min-1200) {
        border-bottom: 1px solid $topbar-info-border-color;
        float: left;
        width: 990px;
        margin-top: 64px;
        margin-left: -20px;
        padding-bottom: 5px;
        position: relative;
        display: block;
      }

      // Tel number
      .topbar__tel-sup {
        width: 720px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 5px;

        span {
          font-size: 28px;
          font-weight: 500;
          color: $topbar-tel-number-color;
          margin-right: 15px;

          // Tel icon
          &:before {
            height: 30px;
            width: 30px;
            right: 10px;
          }
        }
      }

      // Topbar login nav
      .topbar__login-stats {
        position: absolute;
        right: 0;
        bottom: 5px;
        font-size: 22px;
        font-weight: 500;

        .icon-basket {
          &:before {
            background-position: bottom center;
          }
        }

      }
    }
  }

  // Mobile basket & hamburger icon
  .topbar__basket-nav {
    width: 80px;
    float: right;
    margin-top: 17px;

    .icon {
      &:before {
        top: 6px;
      }
    }

    @media (min-width: $media-min-1200) {
      display: none;
    }

    input {
      display: none;
    }

    .hamburger-icon {
      transition: all $topbar-transition-timing ease-in-out;
      position: absolute;
      top: 18px;
      right: 15px;
      width: 30px;

      span {
        margin: 20px 0;
        transition: all $topbar-transition-timing ease-in-out;
        display: block;
        height: 3px;
        width: 100%;
        background: $luxor-gold;

        &:before,
        &:after {
          transition: all ease-in-out;
          content: '';
          position: absolute;
          height: 3px;
          width: 100%;
          background: $luxor-gold;
        }

        &:before{
          margin-top: -8px;
          transition-duration: .1s;
        }

        &:after{
          margin-top: 8px;
          transition-duration: .2s;
        }
      }
    }
  }

  // Navigation
  .topbar__navigation {
    display: none;
    position: absolute;
    top: 65px;
    width: 100%;
    left: 0;
    padding: 0 15px;

    // Special Nav Color
    // Only Use For Special Highlighted Items
    .special-nav-color {
      color: $luxor-gold;
    }

    @media (min-width: $media-min-1200) {
      display: block;
      padding: 0;
      margin: 5px 0;
      position: static;
    }

    > ul {
      > li {
        display: block;
        background: rgba($luxor-gold, .9);
        border-bottom: 1px solid $base-white;

        @media (min-width: $media-min-1200) {
          display: inline-block;
          font-size: 22px;
          font-weight: 500;
          margin-right: 50px;
          background: transparent;
          border-bottom: none;
        }

        a {
          padding: 20px 15px;
          display: block;
          color: $base-white;
          position: relative;

          &:after {
            content: '';
            border: 1px solid;
            border-color: transparent $base-white $base-white transparent;
            transform: rotate(-45deg);
            display: inline-block;
            width: 7px;
            height: 7px;
            position: absolute;
            right: 17px;
            top: 25px;
          }

          @media (min-width: $media-min-1200) {
            padding: 5px 5px 5px 0;
            display: block;
            color: inherit;

            &:after {
              display: none;
            }

            &:hover,
            &:active {
              color: $luxor-gold;
            }
          }
        }
      }
    }
  }

  // When clicked on the .hamburger-icon
  // add the class .mobile-nav-isActive to .topbar-wrap
  // this will open the navigation & transform the
  // hamburger icon to a X
  &.mobile-nav-isActive {
    .hamburger-icon {
      transform-origin:center;
      transform: rotate(-45deg);

      span {
        &:before {
          opacity:0;
        }

        &:after {
          transform: rotate(-90deg);
          margin-top:0;
        }
      }
    }

    .topbar__navigation {
      display: block;
    }
  }

  // User Subnav
  .subnav-user-account {
    position: absolute;
    font-size: 16px;
    background: $base-white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(0,0,0, .3);
    top: 70px;
    left: 57px;
    min-width: 240px;
    display: none;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 53%;
      box-sizing: border-box;
      border: 10px solid black;
      border-color: transparent transparent $base-white $base-white;
      transform-origin: 0 0;
      transform: rotate(135deg);
      box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    .icon {
      &:before {
        top: 10px;
        margin-right: 10px;
      }
    }

    li {
      display: block;
      padding: 5px 0;
    }
  }

  // Subnav For Mobile Nav
  .subnav-my-account {
    margin-bottom: 15px;
    display: none;

    li {
      display: block;
      color: $base-white;
      padding: 5px 15px;
    }
  }

  .label {
    display: none;

    @media (min-width: $media-min-1200) {
      display: inline-block;
      margin-bottom: 3px;
    }
  }

  // User Icon When Logged In
  .user-icon {
    &:after {
      content: '';
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      margin-left: 5px;
      display: inline-block;
      background-position: bottom;
    }
  }

  // Logged In User Name & Balance Info
  // Only for desktop
  .user-account {
    display: inline-block;
    text-align: right;
    font-size: 17px;

    span {
      font-size: 16px;
      font-weight: 100;
    }
  }

  // When Scrolled Change the Nav Look
  // Add the class (.nav-transform) to .topbar-wrap container
  // to transform the topbar when the user scrolled
  &.nav-transform {
    @media (min-width: $media-min-1200) {
      height: 82px;
      transition: height $topbar-transition-timing ease-in-out;

      .topbar__tel-sup,
      .label,
      .topbar__login-stats ul li:first-of-type {
        display: none;
      }

      .topbar__pre-nav {
        margin-top: 15px;

        .topbar__info-bar {
          margin-top: 45px;
        }

        .topbar__logo {
          width: 150px;
          height: 50px;
        }
      }

      .topbar__navigation {
        position: absolute;
        top: 14px;
        left: 175px;
        width: 80%;
        transition: top $topbar-transition-timing ease-in-out;

        ul {
          li {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

ul.topbar_loggedin_customer_navi {
  position:absolute;
  right:0px;
  background-color:$base-white;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 5px $grey-form-inputs;
  font-size:15px;
  z-index:1000;
  margin:10px 15px;
  width:210px;

  li {
    display:block;
    line-height:30px;
    padding:0px 10px;

    &:before {
      float:left;
      margin-right:5px;
    }

    &:hover {
      background-color:$grey-sub;
    }

    em {
      color:$luxor-gold;
      margin:0px 10px;
    }

    b {
      font-weight:bold;
    }

    a {
      color:$base-black;
    }
  }
}

.logged-in-user-clicker {
  cursor:pointer;
}
