.article {
  position: relative;
  background-size: 100% auto;

  @media (min-width: $media-min-1200) {
    background-size: 100% auto;

    &:before {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .article__main {
    padding: 40px 0;
    text-align: center;

    @media (min-width: $media-min-1200) {
      float: left;
      width: 50%;
      margin-left:25%;
      padding: 60px 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height:60px;
      transform: translateX(-50%);
    }

    h1 {
      font-size: 38px;
      font-weight: 500;
      line-height: 1.2;
      color: $luxor-gold;
    }

    h2 {
      padding-bottom: 12px;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.2;
    }

    p {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.3;
    }
  }

  .motto-left,
  .motto-right {
    width: 22%;
    margin-top: 146px;
    border-top: 1px solid $grey-motto;
    border-bottom: 1px solid $grey-motto;
    padding: 15px 0;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 300;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: -15px;
      width: 40px;
      height: 40px;
      background-size: contain;
      transform: translateX(-50%);
    }
  }

  .motto-left {
    position: absolute;
    float: left;
    text-align: left;
  }

  .motto-right {
    position: relative;
    float: right;
    text-align: right;
  }

  .article-img-txt-btn {
    text-align:center;

    .article-image-container{
      margin-bottom:10px;
    }

    h2 {
      color:$luxor-gold;
      font-weight: bold;
      font-size: 22px;
      line-height: 50px;
    }

    .article-button-container- {
      text-align:center;
      margin-top:10px;
    }
  }
}

.article-3-column {
  padding-bottom:60px;

  @media (min-width: $media-min-1200) {

    &:before {
      background: transparent;
    }
  }

  .article__main {
    padding-bottom:20px;
  }
}

.article-benefits {
  background-color:$article-benefits-bg-color;
  color:$base-white;
  padding-bottom:30px;

  @media (min-width: $media-min-1200) {
    background:$article-benefits-bg-color;

    &:before {
      background: transparent;
    }
  }

  .article__main {
    padding-bottom:20px;

    &:before {
      background:transparent;
    }
  }

  .article-benefits-part {
    min-height:150px;

    img {
      position:absolute;
    }
    h3, p {
      padding-left:115px;
    }
    h3 {
      color:$luxor-gold;
      font-weight:bold;
      font-size:20px;
      margin-bottom:5px;
    }
  }

  .article-benefits-more {
    text-align:center;

    a {
      color: $base-white;
    }
  }
}

.article-winning-numbers-column {
  background-color:$article-euromillions-bg-color;
  color:$base-white;
  padding-bottom:55px;

  @media (min-width: $media-min-1200) {
    background:$article-euromillions-bg-color;

    &:before {
      background: transparent;
    }
  }

  .article__main {
    padding-bottom:20px;

    &:before {
      background:transparent;
    }

    h2 {
      color:$base-white;
      font-size: 38px;
      font-weight:bold;
    }
  }

  .article-winning-numbers-container {
    text-align:center;
    margin-bottom:40px;

    .article-euromillions-numer,
    .article-euromillins-additional-number {
      display:inline-block;
      height:105px;
      font-size: 50px;
      line-height: 90px;
    }

    .article-euromillions-numer {
      text-align:center;
      color:$lochmara;
      width:105px;
    }

    .article-euromillins-additional-number {
    color:$base-white;
    width:180px;

    span {
      padding-left:120px;
    }
  }
  }
}

.article-more {
  text-align:center;

  a {
    color: $base-white;
  }
}

.home-out-lotto {
  .article__main {
    padding: 40px 0;
    text-align: center;

    @media (min-width: $media-min-1200) {
      float: left;
      width: 50%;
      margin-left: 25%;
      padding: 20px 0;
    }

    h1 {
      font-size: 38px;
      font-weight: 500;
      line-height: 1.2;
      color: $luxor-gold;
    }

    h2 {
      padding-bottom: 12px;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}
