// Standard Select Styling
.select {
  position: relative;
  padding: $select-padding;
  display: inline-block;
  border-bottom: 1px solid #fff;
  color: $select-text-color;
  font-size: $select-font-size;
  font-weight: 300;
  outline: none;
  text-align: center;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 20px;
    height: 12px;
    background-size: contain;
  }

  select {
    position: relative;
    width: 140%;
    border:0 none;
    background-color:transparent;
    color: $select-text-color;
    outline:none;
    -webkit-appearance: none;
    z-index: 2;
    font-size: $select-font-size;
    font-weight: 300;
    outline: none;
  }
}

